[submodule "client/Dependencies/Headquarter"]
	path = client/Dependencies/Headquarter
	url = https://github.com/reduf/Headquarter.git
[submodule "client/Dependencies/curl"]
	path = client/Dependencies/curl
	url = https://github.com/curl/curl.git
[submodule "client/Dependencies/jansson"]
	path = client/Dependencies/jansson
	url = https://github.com/akheron/jansson.git
