[submodule "Dependencies/Headquarter"]
	path = Dependencies/Headquarter
	url = https://github.com/reduf/Headquarter.git
[submodule "Dependencies/curl"]
	path = Dependencies/curl
	url = https://github.com/curl/curl.git
[submodule "Dependencies/jansson"]
	path = Dependencies/jansson
	url = https://github.com/akheron/jansson.git